/**************** [1] GENERAL ****************/
*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 36pt;
}

form input{
    padding: 1em;
    margin:0.5em;
    border-radius: 10px;  
    border:1px orange solid; 
}

form button{  
    border-radius: 10px;
    margin-left: 1em;   
    transition: 0.5s; 
    font-weight: bold;
    scale:0.9;
    cursor: pointer; 
    background-color: orange; 
    }

form button:hover{     
    background-color: orangered; 
    color:white;
    scale: 1; 
}
/**************** [2] HEADER - NAV ****************/
header{
    background-color: orange;
    padding: 0px 1em;
    height: 70px;
    
}
header h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:black;
}

header nav{
    height: 70px;
    width: 100%;
}
.linkHome{
    position: absolute;
    padding: 1em;
    margin:0;
}

header nav ul{
    float: right;
    margin: 0em;
}
header nav ul li{
    display: inline-block;
    line-height:calc(2);
    margin: 1em 0;
}
header nav a{text-decoration: none;}
header nav ul li a{
    color: black;
    font-size: 18px;
    padding: 1.4em 2em;    
}
header nav ul li a.active, header nav ul li a:hover{
    background:orangered;
    color:white;
    transition: 1s;
}
.checkbtn{
    float: right;
    margin-right: 1em;
    margin-top:1em;
    cursor: pointer;
    display: none;
}
#check{display: none;}
.imgMenu{width: 35px;}

@media (max-width:1150px) {
    header{padding: 0px;}
    header nav ul li a{ padding: 1.4em 1em;}
    
}
@media (max-width: 858px){
    .checkbtn{display: block;}
    header nav ul{
        position: fixed;
        width: 50%;
        height: auto;
        background: orange;
        top: 70px;
        left: -100%;
        text-align: center;
    }
    header{
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0px;
    }
    .jumbotron, .login{
        margin-top:70px;
    }

    header nav ul li{
        display: block;
        margin:0;     
        padding:0;
    }
    header nav ul li a{
        display: block;
        padding: 1em;    
    }

    header nav ul li a:hover{
        background: none;
        background: orangered;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/**************** [3] JUMBOTRON AND TALK****************/
.jumbotron .container, .talk .container{display: flex;}
.jumbotron .container div, .talk .container div{
    background-color: black;
    flex:1;}

.jumbotron .container .infoTxt, .talk .container .infoTxt{
    color:#d6dbe1;
    padding: 20px;
    font-size: 14pt;
}
.jumbotron .container .infoTxt h2, .talk .container .infoTxt h2{
    color:orange;
}
.jumbotron .container .infoTxt p, .talk .container .infoTxt p{margin-bottom: 10px;}

.jumbotron .container form, .talk .container form{
    display: flex; 
}
.jumbotron .container form div:first-child, .talk .container form div:first-child{flex:2;}
.jumbotron .container form input, .talk .container form input{
    width: 100%;
}

.jumbotron .container form div:last-child, .talk .container form div:last-child{flex:1;}

.jumbotron .container form button{  
    padding: 0em 2em;   
    margin-left: 1em;
}


.infoImg img{width: 50vw; margin-bottom: -4px; }

.linkBtn{  
    padding: 0.5em;
    border-radius: 10px;
    transition: 1s; 
    font-weight: bold;
    background: orange;
    scale: 0.9;
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 150px;
    text-align: center;
    color:black;
    text-decoration:none;
}

.linkBtn:hover{  
    border-radius: 10px; 
    background-color: orangered; 
    scale: 1;
    color:white;
}

@media (max-width:1150px) and (min-width:896px) {
    .jumbotron .container .infoTxt, .talk .container .infoTxt{flex:2;}
    .jumbotron .container .infoImg, .talk .container .infoImg{
        flex:1;
        width: 50%;
        height: auto;
        overflow: hidden;
        margin: 0px;
        position: relative;
    }
    .jumbotron .container .infoImg img, .talk .container .infoImg img{
        max-width: 50vw;
        position:absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
    }
}

@media (max-width:895px) {
    .jumbotron .container, .talk .container{
        display: block;
    }
    .jumbotron .container .infoImg img, .talk .container .infoImg img{width: 100%;}
}
@media (max-width:700px) {

    .jumbotron .container form{
        display: block;
        width: auto;
    }
    
    .jumbotron .container form button, .jumbotron .container form input{
        width: auto;
        display: block;
    }

    .jumbotron .container .infoTxt h2, .talk .container .infoTxt h2{
        font-size: 30pt;
    }

    .jumbotron .container form button{  
        padding: 1em 2em;  
    }
    

}

/**************** [4] SERVICES ****************/
.services{
    margin:30px 0;
}
.cardV{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;    
}
.services h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:orangered;
    text-align: center;
    font-size: 36pt;
    margin-bottom: 20px;
}
.products{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap:0px;   
        
}
.products .infoImg img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: -5px;
}

.products .infoText div:first-child{
    padding: 10px 20px;   
    min-height: 170px;
}

.products .productsBtn{
    padding-right: 1em;
    padding-bottom: 1em;
}

    @media (min-width:1301px) {
        .cardV, .cardH, .footer .container, .login{
            width: 1300px;
            margin:0 auto;
        }   
    }

    @media (max-width:895px) {
        .cardV{
            display: block;  
        }
        .products{
            margin: 1em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:0px;   
        }       
        .products .infoImg img{
            height: 100%;
            border-top-right-radius: 0px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }       
    }

    @media (max-width:640px) {
        .products{
            display: block;
        }

        .products .infoImg img{
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
        } 
    }

/**************** [5] BLOG ****************/  
.blog {
    background-color: orange;
    padding-bottom: 30px; 
    margin-bottom:0 30px 0 0;
}

.blog h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:black;
    text-align: center;
    font-size: 36pt;
    margin-bottom: 20px;
}    
.cardH, .news{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:20px;    
    }
    
    
    .news{
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
        padding: 0;
    }

    .news img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-bottom: -5px;
    }
    .news .infoText{
        padding: 10px 20px;
    }
    
    .infoText{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap:5px;    
    }
    
    @media (max-width:1150px)  {
        .cardH{
            display: grid;
            grid-template-columns: repeat(1, 2fr);
            gap:20px;
            max-width: 880px; 
            margin: auto;  
        }
        .news img{height: 100%;}
    }

    @media (max-width:895px)  {
        .cardH{
            max-width: auto; 
            margin: 1em;  
        }
    }

    @media (max-width:640px) {
        .news{
            display: block;
        }

        .news img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            margin-bottom: -5px;
        }
    }
/**************** [6] FOOTER ****************/  
footer{
    background-color: orange;
    padding:20px;
    align-items: center;      
}

footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    
}
footer .container ul{
    list-style-type: none;   
}

footer .container ul li{ margin-top: 1em;}
footer .container a{
    text-decoration: none;
    color: black;
    transition: 0.5s;  
}

footer .container a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer .container input{
    width: 80%;
    border:1px orangered solid; 
}

footer .container .rrss div{
    margin-top: 1em;
}

footer .container .rrss img{
    width: 25px;
    scale: 0.9;
    transition: 0.5s;
    vertical-align: bottom;
    padding-left: 1em;
}

footer .container .rrss img:hover{
    scale: 1;
}

footer form button{  
    padding: 1em 2em;
    background: rgb(255, 136, 0);
}


@media (max-width:895px)  {
    footer .container{
        grid-template-columns: repeat(2, 1fr); 
    }
   
}

@media (max-width:640px)  {
    footer .container{
        display: block;       
    }
    footer .container section{margin-bottom: 1em;}
    
}

.copyright{
    border-top: 2px solid orangered;
    text-align: center;
    margin-top: 1em;
    padding-top:1em
}

/**************** [7] LOGIN ****************/ 
.login{
    background: white;
    padding-bottom: 2em;
}
.login h2{color:orangered}
.login form button{  
    padding: 1em 2em;   
    margin-left: 1em;
}

.login form div{
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:0px;
    margin-bottom: 1em;    
}
.login form div input{
    width: 300px;
}
.login form div label{
    width: 100px;
    margin-left: 1em;
}
@media (max-width:640px)  {
    .login form div {
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        gap:0px;
        margin: 0.5em 0;
    }
    .login form div input{
        width: auto;
    }
}
